<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <meta
      name='description'
      content='Academia Online - Aprende 3D desde cero. Desde cualquier dispositivo. Desde cualquier lugar.'
    />
    <meta name='author' content='Juan Antonio Ceballos' />
    <meta
      name='keywords'
      content='academia, animación, online, diseño, videojuegos, escultura, 3d, academy, animation, design, blender, zbrush, ZBrush, maya, Blender'
    />
    <meta name='copyright' content='LIBEL STUDIOS S.A.S' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap'
      rel='stylesheet'
    />
    <title>Libel Academy</title>
    <style>

      body { font-family: 'Poppins', sans-serif; font-size: 16px;
      width: 100%; } .container { width: 600px; background-color:
      #DDDDDD; padding: 40px 0px; overflow: hidden; border-radius:
      8px; border: 1px solid #DDDDDD; } .content { width: 600px;
      margin: 0 auto; background-color: #FFFFFF; } header { width:
      100%; padding: 10px 20px; } .main { padding: 10px 40px; } h1 {
      color: #000000; font-size: 30px; font-weight: 700;
      margin-bottom: 20px; } P { color: #4F547B; font-size: 16px;
      line-height: 36PX; font-weight: 400; margin: 10px 0PX; } a {
      color: #6440FB; }

    </style>
  </head>
  <body>
    <div class='container'>
      <div class='content'>
        <header>
          <img
            src='https://storage.googleapis.com/libel-storage/logo-dark.png'
            alt='logo'
            height='60px'
            width='auto'
          />
        </header>
        <div class='main'>
          <h1>Cambio de Contraseña</h1>
          <p>
            Hola
            {{name}}, te informamos que se realizó una cambio a tu contraseña.
          </p>
          <p
            style='font-size: 12px; text-align: center; margin-top: 20px;'
          >
            No olvides revisar nuestras
            <a
              href='https://libel.jceballos.com.co/politica-de-privacidad'
              target='_blank'
              rel='noreferrer'
            >Políticas de Privacidad</a>
            y nuestros
            <a
              href='https://libel.jceballos.com.co/terminos-y-condiciones'
              target='_blank'
              rel='noreferrer'
            >Términos y Condiciones</a>
          </p>
          <p
            style='font-size: 10px; text-align: center; margin-top: 0;'
          >
            &copy;&nbsp;{{year}}&nbsp; LibelAcademy.&nbsp;Todos los
            derechos reservados.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>